<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<form method="get">
    {% csrf_token %}
    {% if user.is_authenticated == False %}
        <a href="/reg">Регистрация</a>
        <a href="/login">Вход</a>
    {% else %}
        <a href="/logout">Выход</a>
        {% if user.is_superuser %}
            <a href="/admin">Админ панель</a>
        {% endif %}
        <p>Welcome, {{ user.username }}!</p>
    {% endif %}
</form>
</body>
</html>