<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <div id="buttons" class="content-box">
        <div class="help-head">
            <button class="close-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="black" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                     class="lucide lucide-x">
                    <path d="M18 6 6 18"/>
                    <path d="m6 6 12 12"/>
                </svg>
            </button>
            <p>Нужна помощь?</p>
        </div>

        <hr>

        <button class="secondary-button">
            Контактная помощь
        </button>

        <hr>

        <a href="/login/" class="log-btn">
            Вход
        </a>
    </div>
    <div id="feedback-form" class="content-box hidden">

        <button class="back-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="lucide lucide-chevron-left">
                <path d="m15 18-6-6 6-6"/>
            </svg>
        </button>

        <form method="post" class="feedback-fields-cnt">
            {% csrf_token %}
            <div class="feedback-field">
                <label for="email">Почта</label>
                {{ feedback_form.email }}
            </div>
            <div class="feedback-field">
                <label for="feedback">Ваше обращение</label>
                {{ feedback_form.feedback }}
            </div>
            <button type="submit" class="field-btn">Отправить</button>
        </form>
    </div>

    <div class="card">
        <div class="tab-background"></div>
        <div class="tab-content">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" color="#87314e"
                 fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="lucide lucide-log-in">
                <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/>
                <polyline points="10 17 15 12 10 7"/>
                <line x1="15" x2="3" y1="12" y2="12"/>
            </svg>

            <h2 class="tab-label">Registration</h2>
        </div>

        <div class="form-container">
            <button class="etc-btn"></button>
            <form method="post" id="reg-form" class="form">
                <div class="fields-container">
                    {% csrf_token %}

                    <div class="field">
                        <label for="username">Имя пользователя</label>
                        {{ form.username }}
                    </div>

                    <div class="field">
                        <label for="email">Почта</label>
                        {{ form.email }}
                    </div>

                    <div class="field">
                        <label for="password1">Пароль</label>
                        {{ form.password1 }}
                    </div>

                    <div class="field">
                        <label for="password2">Повторите пароль</label>
                        {{ form.password2 }}
                    </div>

                    {% for field in form %}
                        {% if field.errors %}
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                    <li class="error">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        </div>
        <div class="btn-container">
            <button type="submit" form="reg-form" class="form-btn">Зарегистрироваться</button>
        </div>

    </div>
</div>
<script type="module" src="{% static 'js/reg.js' %}"></script>
</body>
</html>